@charset "utf-8";
/* CSS Document */
html,body,h3,h1,h2,h4,h5,iframs
{
	margin:0;
	padding: 0;
	}
body
{
	background-color:#0C9;
	height:100%;
	width:100%;
	}
.detail 
{
	height:100px;
	width:100%;
	}
.main input
{
	height:35px;
	width:250px;
	padding-left:3px;
	margin-bottom:2px;
		}	
.main select
{
	height:25px;
	width:256px;
	margin-bottom:2px;
	}
.main input[type="submit"]
{
	background-color:#096;
	border:solid 1px #000000;
	}			
.main input[type="submit"]:hover
{
	width:256px;
	background-color:transparent;
	}	
.detail img
{
	height:50px;
	width:50px;
	}	
.detail p
{
	float:right;
	margin-right:20px;
		}	
.detail a
{
	margin-left:5px;
	text-decoration:none;
	font-size:20px;
	
	}
.cont .logo
{
	margin-top:7%;
	}			
.container .logo
{
	margin-top:3%;
	}
.cont h3
{
	color:#000;
	font-size:24px;
	}
.container h3
{
	color:#000;
	font-size:24px;
	}	
.pre
{
	float:left;
	width:400px;
	height:300px;
	border-right:solid 1px #000000;
	}
.pre .task
{
	padding-left:10px;
	}
.pre input
{
	height:25px;
	width:200px;
	margin-bottom:2px;
	}		
.pre select
{
	height:25px;
	width:150px;
	margin-bottom:2px;
		}				
.perform hr
{
	width: 100px;
	}
.login input
{
height:35px;
width:250px;
margin-bottom:2px;
border:solid 1px #000000;
padding-left:4px;
	}
.login p 
{
	font-size:24px;
	color:#FFF;
	}		
.login input[type="submit"]	
{
	background:#099;
	font-size:16px;
	color:#FFF;
	}
.login input[type="submit"]:hover
{
	background-color:transparent;
	width:255px;
	}	